@media only screen and (max-width:1200px){
    .media{
        letter-spacing: normal;
    font-size: 15px;
    }
    .discript .card{
        width: 195px;
    }
    .icon-mxh{
        margin-bottom: 15px;
    }

 
}
@media only screen and (max-width:992px){
    .navbar{
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        display: block;
        width: 100%;
        transition: all 0.3s ease 0s;
        transform: translateX(-100%);
        height: 40vh;
        z-index: 888;
        backdrop-filter: saturate(180%) blur(20px);
    }
    .toggle{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        cursor: pointer;
        border-radius: 50%;
        font-size: 35px;
        color: #12c2e9;
        margin-right: 10px;
    }
    .menu .menu-main{
        flex-direction: column;
        justify-content: end;
        height: 25vh;
    }
      .main-main{
        margin-top: 220px;
    }
    .block-right{
        display: none;
    }
}
@media only screen and (max-width:768px){
    .home-intro h1{
        font-size: 3rem;
    }
    .home-intro .frontend{
        font-size: 2.6rem;
    }
     .navbar{
           backdrop-filter: saturate(180%) blur(20px);
    }
}
@media only screen and (max-width:576px){
    .home-intro h1{
        font-size: 2.1rem;
    }
    .home-intro p{
        font-size: 1rem;
        width: auto;
        margin-top: 20px;
    }
    .home-intro .frontend{
        font-size: 1.8rem;
        margin-left: 25px;
    }
    .row-box .box{
        padding: 5px;
    }
    .discript .card{
        width: 100%;
    }
    .contact-name p{
        font-size: 14px;
    }
}
